@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Delicious+Handrawn&family=Prompt:ital,wght@0,200;0,300;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Delicious+Handrawn&family=Raleway:ital,wght@0,600;0,700;1,500;1,600&display=swap");
.main-2 {
  width: 100%;
  height: 100%;
}
.main-2 .main-3 {
  width: 50%;
  height: auto;
}

.main-4 {
  width: 100%;
  height: auto;
}
.main-4 .main-5 {
  width: 100%;
  height: auto;
}
.main-4 .main-5 .main-6 {
  width: 100%;
  height: auto;
}
.main-4 .main-5 .main-6 .contenedor {
  width: 100%;
  height: auto;
}
.main-4 .main-5 .main-6 .contenedor .main-7 {
  width: 80%;
  height: auto;
}
.main-4 .main-5 .main-8 {
  width: 100%;
  height: auto;
}
.main-4 .main-5 .main-8 .contenedor {
  width: 100%;
  height: auto;
}
.main-4 .main-5 .main-8 .contenedor .main-9 {
  width: 80%;
  height: auto;
}

.main-10 {
  width: 100%;
  height: auto;
}
.main-10 .main-11 {
  width: 100%;
  height: auto;
}
.main-10 .main-11 .main-12 {
  width: 33%;
  height: auto;
}
.main-10 .main-11 .main-13 {
  width: 33%;
  height: auto;
}
.main-10 .main-11 .main-14 {
  width: 33%;
  height: auto;
}

.main-15 {
  width: 100%;
  height: auto;
}
.main-15 .main-16 {
  width: 100%;
  height: auto;
}
.main-15 .main-16 .main-17 {
  width: 50%;
  height: auto;
}
.main-15 .main-16 .main-17 img {
  width: auto;
  height: 400px;
}

.album-1 {
  width: 100%;
  height: 90vh;
}
.album-1 .album-2 {
  width: 60%;
  height: auto;
}

.album-5 {
  width: 100%;
  height: auto;
}
.album-5 .album-6 {
  width: 60%;
  height: auto;
}
.album-5 .album-7 {
  width: 100%;
  height: auto;
}
.album-5 .album-7 .album-8 {
  width: 80%;
  height: auto;
}
.album-5 .album-7 .album-8 img {
  width: 300px;
  height: 300px;
}
.album-5 .album-9 {
  width: 100%;
  height: auto;
}
.album-5 .album-9 .album-10 {
  width: 60%;
  height: auto;
}
.album-5 .album-12 {
  width: 100%;
  height: 50vh;
}
.album-5 .album-12 .album-13 {
  width: 50%;
  height: auto;
}

.fotos {
  width: 100%;
  height: auto;
}
.fotos .galeria {
  width: 750px;
  height: auto;
}
.fotos .galeria img {
  width: 100%;
  height: 100%;
}

.histo-1 {
  width: 100%;
  height: auto;
}
.histo-1 .histo-2 {
  width: 100%;
  height: 100vh;
}
.histo-1 .histo-2 .histo-3 {
  width: 50%;
  height: auto;
}
.histo-1 .histo-4 {
  width: 100%;
  height: auto;
}
.histo-1 .histo-4 .img-1 {
  width: 400px;
  height: 400px;
}
.histo-1 .histo-4 .histo-5 {
  width: 30%;
  height: auto;
}
.histo-1 .histo-6 {
  width: 100%;
  height: auto;
}
.histo-1 .histo-6 .img-1 {
  width: 400px;
  height: 400px;
}
.histo-1 .histo-6 .histo-7 {
  width: 30%;
  height: auto;
}

.histo-8 {
  width: 100%;
  height: auto;
}
.histo-8 .histo-9 {
  width: 60%;
  height: auto;
}

.registro-1 {
  width: 100%;
  height: 100vh;
}
.registro-1 .registro-2 {
  width: 80%;
  height: 80%;
}
.registro-1 .registro-2 .registro-3 {
  width: 100%;
  height: 100%;
}
.registro-1 .registro-2 .registro-3 .registro-4 {
  width: 40%;
  height: auto;
}
.registro-1 .registro-2 .registro-3 .registro-5 {
  width: 40%;
  height: auto;
}
.registro-1 .registro-2 .registro-3 .registro-5 input {
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

span {
  color: crimson;
  font-family: "Raleway", sans-serif;
}

.album-1 {
  display: flex;
  justify-content: center;
}
.album-1 .album-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.album-1 .album-2 h3 {
  font-size: 30px;
  padding: 40px 0px;
}
.album-1 .album-2 p {
  font-size: 20px;
  padding: 20px 0px;
}

.album-5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.album-5 .album-6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 40px 0px;
  font-size: 25px;
}
.album-5 .album-6 h4 {
  padding-top: 20px;
  font-size: 19px;
}
.album-5 .album-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.album-5 .album-7 .album-8 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.album-5 .album-7 .album-8 img {
  object-fit: cover;
}
.album-5 .album-9 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../multimedia/album/back-g/backg-2.jpg);
  background-size: cover;
}
.album-5 .album-9 .album-10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px 0px;
  color: white;
}
.album-5 .album-9 .album-10 h4 {
  padding: 20px 0px;
  font-size: 15px;
}
.album-5 .album-9 .album-10 p {
  padding: 10px 0px;
  font-size: 20px;
}
.album-5 .album-9 .album-10 h2 {
  padding-top: 30px;
  font-size: 40px;
  text-decoration: underline;
}
.album-5 .album-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.album-5 .album-12 .album-13 {
  display: flex;
  flex-direction: column;
}
.album-5 .album-12 .album-13 h3 {
  padding: 20px 0px;
  font-size: 25px;
}
.album-5 .album-12 .album-13 p {
  padding: 10px 0px;
  font-size: 20px;
}

@media (max-width: 992px) {
  .album-1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .album-1 .album-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    height: auto;
  }
  .album-1 .album-2 h3 {
    font-size: 25px;
    padding: 40px 0px;
  }
  .album-1 .album-2 p {
    font-size: 20px;
    padding: 20px 0px;
  }
  .album-5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .album-5 .album-6 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 40px 0px;
    font-size: 25px;
    width: 60%;
  }
  .album-5 .album-6 h4 {
    padding-top: 20px;
    font-size: 19px;
  }
  .album-5 .album-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .album-5 .album-7 .album-8 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .album-5 .album-7 .album-8 img {
    width: 576px;
    height: 300px;
    object-fit: cover;
  }
  .album-5 .album-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 30px 0px;
  }
  .album-5 .album-12 .album-13 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
  }
  .album-5 .album-12 .album-13 h3 {
    padding: 20px 0px;
    font-size: 25px;
  }
  .album-5 .album-12 .album-13 p {
    padding: 10px 0px;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .album-1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .album-1 .album-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    height: auto;
  }
  .album-1 .album-2 h3 {
    font-size: 25px;
    padding: 40px 0px;
  }
  .album-1 .album-2 p {
    font-size: 20px;
    padding: 20px 0px;
  }
  .album-5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .album-5 .album-6 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 40px 0px;
    font-size: 25px;
    width: 60%;
  }
  .album-5 .album-6 h4 {
    padding-top: 20px;
    font-size: 19px;
  }
  .album-5 .album-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .album-5 .album-7 .album-8 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .album-5 .album-7 .album-8 img {
    width: 320px;
    height: auto;
    object-fit: cover;
  }
}
button {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  font-size: 14px;
  transition: 1.5s;
}
button:hover {
  background: rgb(23, 21, 21);
  background: linear-gradient(162deg, rgb(0, 0, 0) 17%, rgb(209, 36, 36) 100%);
  transition: 3s all;
  color: white;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}

.nav-1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 74px;
  background-color: rgba(61, 63, 65, 0.1176470588);
}
.nav-1 .nav-2 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 41px;
  z-index: 2;
}
.nav-1 h1 {
  color: rgba(0, 0, 0, 0.6941176471);
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}
.nav-1 .fa-solid {
  display: none;
  font-size: 25px;
  border: 0.5px solid;
  padding: 4px 12px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.4823529412);
}
.nav-1 .nav-input {
  display: none;
}

.nav-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.nav-4 ol {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}
.nav-4 a {
  padding: 12px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6941176471);
  padding: 8px;
}

@media (max-width: 992px) {
  .nav-1 {
    display: flex;
    justify-content: center;
    height: 70px;
  }
  .nav-1 .nav-2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 53px;
  }
  .nav-1 .nav-2 .nav-titulo {
    width: 118px;
  }
  .nav-1 .nav-2 .nav-titulo h1 {
    color: rgba(0, 0, 0, 0.7960784314);
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
  }
  .nav-1 .nav-2 .fa-solid {
    display: flex;
    cursor: pointer;
  }
  .nav-1 .nav-2 .nav-input:checked + .nav-4 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .nav-1 .nav-2 .nav-4 {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: white;
    width: 100%;
    z-index: 10;
    top: 60px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 0.5s ease-in-out;
  }
  .nav-1 .nav-2 .nav-4 ol {
    display: block;
  }
  .nav-1 .nav-2 .nav-4 ol li {
    padding: 8px;
  }
}
@media (max-width: 576px) {
  .nav-1 {
    display: flex;
    justify-content: center;
  }
  .nav-1 .nav-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .nav-1 .nav-2 .nav-titulo {
    width: 118px;
  }
  .nav-1 .nav-2 .nav-titulo h1 {
    color: rgba(0, 0, 0, 0.7960784314);
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 8px;
  }
}
.footer-a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
  background: rgb(23, 21, 21);
  color: white;
  padding: 30px;
}
.footer-a .footer-b {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
}
.footer-a .footer-b h3 {
  margin-bottom: 20px;
}
.footer-a .footer-b p {
  margin-bottom: 10px;
}
.footer-a .footer-c {
  display: flex;
  justify-content: end;
  width: 30%;
  height: auto;
}
.footer-a .footer-c .footer-d {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: end;
}
.footer-a .footer-c .footer-d input {
  width: 330px;
  height: 40px;
  margin: 10px;
  border-radius: 14px;
}
.footer-a .footer-c .footer-d input::placeholder {
  text-align: start;
  line-height: 40px;
  padding-left: 20px;
}
.footer-a .footer-c .footer-d textarea {
  width: 330px;
  height: 200px;
  margin: 10px;
  border-radius: 14px;
}
.footer-a .footer-c .footer-d textarea::-webkit-input-placeholder {
  text-align: start;
  line-height: 40px;
  padding-left: 20px;
}

.footer-e {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: #212121;
}
.footer-e .footer-f {
  display: flex;
  width: 80%;
  height: auto;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family: "Mynerve", cursive;
}
.footer-e .footer-f .footer-g {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.footer-e .footer-f .footer-g h2 {
  font-size: 20px;
}
.footer-e .footer-f .footer-g a {
  color: white;
  font-size: 20px;
  padding: 3px;
  padding-left: 13px;
}
.footer-e .footer-f .footer-g a:hover {
  transition: 1s all;
  color: rgb(228, 34, 24);
}
.footer-e .footer-f .footer-h {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.footer-e .footer-f .footer-h h4 {
  font-size: 20px;
}

@media (max-width: 992px) {
  .footer-a {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    height: auto;
  }
  .footer-a .foorter-b {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .footer-a .footer-c {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: auto;
  }
  .footer-a .footer-c .footer-d {
    display: flex;
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-a .footer-c .footer-d input {
    width: 80%;
  }
  .footer-a .footer-c .footer-d textarea {
    width: 80%;
  }
  .footer-a .footer-c .footer-d button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .footer-e {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer-e .footer-f {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .footer-e .footer-f .footer-g {
    width: 300px;
    height: auto;
  }
}
.fotos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fotos .galeria {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 250px 250px 250px;
  gap: 10px;
  margin-bottom: 10px;
}
.fotos .galeria .img-a {
  grid-column: 1/4;
}
.fotos .galeria .img-b {
  grid-row: 2/4;
}
.fotos .galeria .img-f {
  grid-column: 3/4;
}
.fotos .galeria img {
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .fotos {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  .fotos .galeria {
    display: flex;
    width: 80%;
    height: auto;
    flex-direction: column;
  }
  .fotos .galeria img {
    height: 300px;
  }
}
.histo-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.histo-1 .histo-2 {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../multimedia/historia/backg/backg-1.jpg);
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
}
.histo-1 .histo-2 .histo-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.histo-1 .histo-2 .histo-3 p {
  font-size: 20px;
  padding: 30px;
}
.histo-1 .histo-2 .histo-3 h3 {
  font-size: 25px;
}
.histo-1 .histo-4 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.histo-1 .histo-4 .img-1 {
  object-fit: cover;
}
.histo-1 .histo-4 .histo-5 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.histo-1 .histo-6 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background: rgb(0, 0, 0);
  background: linear-gradient(131deg, rgb(0, 0, 0) 7%, rgb(11, 11, 11) 10%, rgb(0, 0, 0) 12%, rgb(0, 0, 0) 18%, rgb(0, 0, 0) 22%, rgb(117, 117, 117) 25%, rgb(4, 3, 3) 32%);
  color: white;
}
.histo-1 .histo-6 .img-1 {
  object-fit: cover;
}
.histo-1 .histo-6 .histo-7 {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  height: auto;
}

.histo-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.histo-8 .histo-9 {
  padding: 40px;
}
.histo-8 .histo-9 p {
  font-size: 18px;
}
.histo-8 .histo-9 h3 {
  font-size: 25px;
  padding: 25px;
}

@media (max-width: 992px) {
  .histo-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .histo-1 .histo-2 {
    width: 100%;
    height: 80vh;
    overflow: hidden;
  }
  .histo-1 .histo-2 .histo-3 {
    width: 100%;
    height: auto;
  }
  .histo-1 .histo-4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .histo-1 .histo-4 .img-1 {
    height: 400px;
    width: 100%;
    object-fit: cover;
    padding: 30px;
  }
  .histo-1 .histo-4 .histo-5 {
    width: 90%;
    height: auto;
  }
  .histo-1 .histo-4 .histo-5 h2 {
    padding: 30px;
  }
  .histo-1 .histo-4 .histo-5 p {
    padding: 30px;
  }
  .histo-1 .histo-6 {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
  }
  .histo-1 .histo-6 .img-1 {
    height: 400px;
    width: 100%;
    object-fit: cover;
    padding: 30px;
  }
  .histo-1 .histo-6 .histo-7 {
    width: 100%;
    height: auto;
  }
  .histo-1 .histo-6 .histo-7 h2 {
    padding: 30px;
  }
  .histo-1 .histo-6 .histo-7 p {
    padding: 30px;
  }
  .histo-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .histo-8 .histo-9 {
    width: 80%;
    height: auto;
    padding: 20px;
  }
  .histo-8 .histo-9 p {
    font-size: 18px;
  }
  .histo-8 .histo-9 h3 {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .histo-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .histo-1 .histo-2 {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .histo-1 .histo-2 .histo-3 {
    width: 100%;
    height: auto;
  }
  .histo-1 .histo-2 .histo-3 p {
    font-size: 18px;
  }
  .histo-1 .histo-2 .histo-3 h3 {
    font-size: 18px;
  }
}
.main-1 {
  width: 100%;
  height: 100vh;
}
.main-1 .main-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../multimedia/inicio/backg-index.jpg);
}
.main-1 .main-2 .main-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  border: 2px solid rgba(21, 22, 21, 0.4);
  border-radius: 12px;
  background-color: rgba(21, 22, 21, 0.4);
  color: white;
}
.main-1 .main-2 .main-3 p {
  font-size: 17px;
}

.main-4 {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../multimedia/inicio/backg-index.jpg);
}
.main-4 .main-5 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px 0px;
}
.main-4 .main-5 .main-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-4 .main-5 .main-6 .contenedor {
  display: flex;
  justify-content: center;
}
.main-4 .main-5 .main-6 .contenedor .main-7 {
  display: flex;
  justify-content: center;
  color: white;
  border: 2px solid rgba(21, 22, 21, 0.4);
  border-radius: 12px;
  background-color: rgba(21, 22, 21, 0.7647058824);
  padding: 10px;
}
.main-4 .main-5 .main-6 .contenedor .main-7 h3 {
  font-family: "Prompt", sans-serif;
  font-size: 20px;
}
.main-4 .main-5 .main-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-4 .main-5 .main-8 .contenedor {
  display: flex;
  justify-content: center;
}
.main-4 .main-5 .main-8 .contenedor .main-9 {
  display: flex;
  justify-content: center;
  color: white;
  border: 2px solid rgba(21, 22, 21, 0.4);
  border-radius: 12px;
  background-color: rgba(21, 22, 21, 0.7647058824);
  padding: 10px;
}
.main-4 .main-5 .main-8 .contenedor .main-9 h3 {
  font-size: 25px;
}

.main-10 {
  display: flex;
  justify-content: center;
  padding: 70px 0px;
  background-color: rgba(0, 0, 0, 0.9098039216);
}
.main-10 .main-11 {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  text-align: center;
  color: white;
}
.main-10 .main-11 .main-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-10 .main-11 .main-12 h3 {
  color: crimson;
  font-size: 40px;
  text-decoration: overline;
}
.main-10 .main-11 .main-12 p {
  font-size: 17px;
  border: 1px solid rgba(21, 22, 21, 0.4);
  background-color: #1b1a1a;
  border-radius: 20px;
  padding: 30px;
  text-decoration: none;
}
.main-10 .main-11 .main-13 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-10 .main-11 .main-13 h3 {
  color: crimson;
  font-size: 40px;
  text-decoration: overline;
}
.main-10 .main-11 .main-13 p {
  font-size: 17px;
  border: 1px solid rgba(21, 22, 21, 0.4);
  background-color: #1b1a1a;
  border-radius: 20px;
  padding: 30px;
}
.main-10 .main-11 .main-14 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-10 .main-11 .main-14 h3 {
  color: crimson;
  font-size: 40px;
  text-decoration: overline;
}
.main-10 .main-11 .main-14 p {
  font-size: 17px;
  border: 1px solid rgba(21, 22, 21, 0.4);
  background-color: #1b1a1a;
  border-radius: 20px;
  padding: 30px;
}

.main-15 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9019607843);
}
.main-15 .main-16 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-15 .main-16 .main-17 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 30px;
}
.main-15 .main-16 .main-17 p {
  font-size: 20px;
  padding: 30px;
}
.main-15 .main-16 .main-18 {
  display: flex;
}
.main-15 .main-16 .main-18 img {
  height: 400px;
  width: auto;
  object-fit: cover;
}

@media (max-width: 992px) {
  .main-1 {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  .main-1 .main-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .main-1 .main-2 .main-3 {
    display: flex;
    width: 80%;
    height: auto;
    margin: 30px 0px;
  }
  .main-4 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .main-4 .main-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .main-4 .main-5 .main-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  .main-4 .main-5 .main-6 .contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .main-4 .main-5 .main-6 .contenedor img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  .main-4 .main-5 .main-6 .main-7 {
    width: 90%;
    height: auto;
    color: white;
    border: 2px solid rgba(21, 22, 21, 0.4);
    border-radius: 12px;
    background-color: rgba(21, 22, 21, 0.7647058824);
  }
  .main-4 .main-5 .main-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
  }
  .main-4 .main-5 .main-8 .contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .main-4 .main-5 .main-8 .contenedor img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  .main-4 .main-5 .main-8 .main-9 {
    width: 80%;
    height: auto;
    color: white;
    border: 2px solid rgba(21, 22, 21, 0.4);
    border-radius: 12px;
    background-color: rgba(21, 22, 21, 0.7647058824);
    padding: 10px;
  }
  .main-10 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
  }
  .main-10 .main-11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 40px 0px;
  }
  .main-10 .main-11 .main-12 {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-bottom: 50px;
  }
  .main-10 .main-11 .main-13 {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-bottom: 50px;
  }
  .main-10 .main-11 .main-14 {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-bottom: 50px;
  }
  .main-15 {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  .main-15 .main-16 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .main-15 .main-16 .main-17 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 10px;
    width: 80%;
    height: auto;
    border: 2px solid rgba(21, 22, 21, 0.4);
    border-radius: 12px;
    background-color: rgba(21, 22, 21, 0.8235294118);
  }
  .main-15 .main-16 .main-18 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .main-15 .main-16 .main-18 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 576px) {
  .main-4 {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .main-4 .main-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .main-4 .main-5 .main-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    margin-bottom: 30px;
  }
  .main-4 .main-5 .main-6 .contenedor-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .main-4 .main-5 .main-6 .contenedor-img img {
    object-fit: cover;
    width: 100%;
    height: 300px;
  }
  .main-4 .main-5 .main-6 .main-7 {
    width: 90%;
    height: auto;
    color: white;
    border: 2px solid rgba(21, 22, 21, 0.4);
    border-radius: 12px;
    background-color: rgba(21, 22, 21, 0.7647058824);
    padding: 10px;
  }
  .main-4 .main-5 .main-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
  }
  .main-4 .main-5 .main-8 .contenedor-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .main-4 .main-5 .main-8 .contenedor-img img {
    object-fit: cover;
    width: 100%;
    height: 300px;
  }
  .main-15 {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  .main-15 .main-16 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .main-15 .main-16 .main-17 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    width: 90%;
    height: auto;
    border: 2px solid rgba(21, 22, 21, 0.4);
    border-radius: 12px;
    background-color: rgba(21, 22, 21, 0.8235294118);
  }
  .main-15 .main-16 .main-18 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .main-15 .main-16 .main-18 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.registro-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(220.55deg, #2e080e 0%, #000000 100%);
  color: white;
}
.registro-1 .registro-2 {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.5960784314);
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.185);
  color: white;
  overflow: hidden;
  z-index: 1;
}
.registro-1 .registro-2 .registro-3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.registro-1 .registro-2 .registro-3 .registro-4 {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 40%;
  height: auto;
}
.registro-1 .registro-2 .registro-3 .registro-5 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}
.registro-1 .registro-2 .registro-3 .registro-5 input {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
}

@media (max-width: 992px) {
  .registro-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
  }
  .registro-1 .registro-2 {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 80%;
    border: 1px solid rgba(0, 0, 0, 0.5960784314);
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.185);
    color: white;
    padding: 40px 0px;
    margin: 40px 0px;
  }
  .registro-1 .registro-2 .registro-3 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .registro-1 .registro-2 .registro-3 .registro-4 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 80%;
    height: auto;
    padding: 40px 0px;
  }
  .registro-1 .registro-2 .registro-3 .registro-5 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: auto;
    font-size: 20px;
  }
  .registro-1 .registro-2 .registro-3 .registro-5 input {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    width: 100%;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
