.album-1{
    display: flex;
    justify-content: center;
    .album-2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h3{
            font-size: 30px;
            padding: 40px 0px;
        }
        p{
            font-size: 20px;
            padding: 20px 0px;
        }
    }
}

.album-5{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .album-6{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 40px 0px;
        font-size: 25px;
        h4{
            padding-top: 20px;
            font-size: 19px;
        }
    }
    .album-7{
        display: flex;
        flex-direction: column;
        align-items: center;
        .album-8{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 20px;
            img{
                object-fit: cover;
            }
        }
    }
    .album-9{
        display: flex;
        justify-content: center;
        text-align: center;
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../multimedia/album/back-g/backg-2.jpg);
        background-size: cover;
        .album-10{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 40px 0px;
            color: $mainColor;
            h4{
                padding: 20px 0px;
                font-size: 15px;
            }
            p{
                padding: 10px 0px;
                font-size: 20px;
            }
            h2{
                padding-top: 30px;
                font-size: 40px;
                text-decoration: underline;
            }
        }
    }
    .album-12{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .album-13{
            display: flex;
            flex-direction: column;
            h3{
                padding: 20px 0px;
                font-size: 25px;
            }
            p{
                padding: 10px 0px;
                font-size: 20px;
            }
        }
    }
}

@media(max-width: 992px){
    .album-1{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        .album-2{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 60%;
            height: auto;
            h3{
                font-size: 25px;
                padding: 40px 0px;
            }
            p{
                font-size: 20px;
                padding: 20px 0px;
            }
        }
    }
    .album-5{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        .album-6{
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            padding: 40px 0px;
            font-size: 25px;
            width: 60%;
            h4{
                padding-top: 20px;
                font-size: 19px;
            }
        }
        .album-7{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
            .album-8{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: center;
                align-items: center;
                gap: 20px;
                img{
                    width: 576px;
                    height: 300px;
                    object-fit: cover;
                }
            }
        }
        .album-12{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: auto;
            padding: 30px 0px;
            .album-13{
                display: flex;
                flex-direction: column;
                width: 50%;
                height: auto;
                h3{
                    padding: 20px 0px;
                    font-size: 25px;
                }
                p{
                    padding: 10px 0px;
                    font-size: 20px;
                }
            }
        }
    }
}
@media(max-width: 576px){
    .album-1{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        .album-2{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 60%;
            height: auto;
            h3{
                font-size: 25px;
                padding: 40px 0px;
            }
            p{
                font-size: 20px;
                padding: 20px 0px;
            }
        }
    }
    .album-5{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        .album-6{
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            padding: 40px 0px;
            font-size: 25px;
            width: 60%;
            h4{
                padding-top: 20px;
                font-size: 19px;
            }
        }
        .album-7{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
            .album-8{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: center;
                align-items: center;
                gap: 20px;
                img{
                    width: 350px;
                    height: 300px;
                    object-fit: cover;
                }
            }
        }
    }
}