%btn{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    transition: 0.5s;
    &:hover{
        color: $mainColor;
        background-color: $redes;
    }
}
button{
    @extend %btn;
}

