.fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    .galeria{
        display: grid;
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: 250px 250px 250px;
        gap: 10px;
        margin-bottom: 10px;
        .img-a{
            grid-column: 1/4;
        }
        .img-b{
            grid-row: 2/4;
        }
        .img-f{
            grid-column: 3/4;
        }
        img{
            object-fit: cover;
            border-radius: 10px;
        }
        
    }
}


@media (max-width: 992px){
    .fotos{
        width: 100%;
        height: auto;
        margin-top: 10px;
            .galeria{
                display: flex;
                width: 80%;
                height: auto;
                flex-direction: column;
                img{
                height: 300px;
                }
            }
        }
    }
