.histo-2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image:linear-gradient(180deg, rgba(150,95,22,0) -16%, rgb(0, 0, 0) 99%),url(../multimedia/historia/backg/album-relleno7.avif);
    color: $mainColor;
    .histo-3{
        display: flex;
        font-size: 90px;
        justify-content: center;
        flex-direction: column;
        height: 400px;
        gap: 40px;
            p{
                font-size: 20px;
                font-family: 'Dancing Script', cursive;
                color: $p;
            }
            h3{
                font-family: 'EB Garamond', serif;
            }
            h4{
                font-size: 18px;
                color: $p;
            }
    }
    .linea-0{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        color: $p;
        gap: 40px;
        .linea-1{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
        }
    }
    .linea{
        display: flex;
        width: 70%;
        height: 1;
        border: 1px solid $redes;
    }
}

.histo-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $mainColor;
    background-color: $background;
    .histo-4{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 100px;
        .img-1{
            object-fit: cover;
        }
        .histo-5{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
    .histo-6{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 100px;
        padding-bottom: 100px;
        .img-1{
            object-fit: cover;
        }
        .histo-7{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 30%;
            height: auto;
        }
    }
}

@media (max-width: 992px){
    .histo-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        .histo-2{
            width: 100%;
            height: 80vh;
            overflow: hidden;
            .histo-3{
                width: 100%;
                height: auto;
            }
        }
        .histo-4{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            .img-1{
                height: 400px;
                width: 100%;
                object-fit: cover;
                padding: 30px;
            }
            .histo-5{
                width: 90%;
                height: auto;
                h2{
                    padding: 30px;
                }
                p{
                    padding: 30px;
                }
            }
        }
        .histo-6{
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            height: auto;
            .img-1{
                height: 400px;
                width: 100%;
                object-fit: cover;
                padding: 30px;
            }
            .histo-7{
                width: 100%;
                height: auto;
                h2{
                    padding: 30px;
                }
                p{
                    padding: 30px;
                }
            }
        }
}
    .histo-8{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        .histo-9{
            width: 80%;
            height: auto;
            padding: 20px;
            p{
                font-size: 18px;
            }
            h3{
                font-size: 18px;
            }
        }
    }
}
@media (max-width: 576px){
    .histo-2{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-image:linear-gradient(180deg, rgba(150,95,22,0) -16%, rgb(0, 0, 0) 99%),url(../multimedia/historia/backg/album-relleno7.avif);
        color: $mainColor;
        .histo-3{
            display: flex;
            font-size: 90px;
            justify-content: center;
            flex-direction: column;
            height: 400px;
            gap: 40px;
                p{
                    font-size: 20px;
                    font-family: 'Dancing Script', cursive;
                    color: $p;
                }
                h3{
                    font-size: 50px;
                    font-family: 'EB Garamond', serif;
                }
                h4{
                    font-size: 18px;
                    color: $p;
                }
        }
        .linea{
            display: flex;
            width: 70%;
            height: 1;
            border: 1px solid $redes;
        }
    }
    .histo-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        .histo-2{
            width: 100%;
            height: auto;
            overflow: hidden;
            .histo-3{
                width: 100%;
                height: auto;
                p{
                    font-size: 18px;
                }
                h3{
                    font-size: 18px;
                }
            }
        }
    }
}