// nav css

.nav-1{
    display: flex;
    align-items: center;
    width: 100%;
    height: 74px;
    background-color: #3d3f411e;
    .nav-2{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 41px;
        z-index: 2;
        }
        h1{
            color: #000000b1;
            font-size: 40px;
            font-family: 'Montserrat', sans-serif;
            
        }
        .fa-solid{
            display: none;
            font-size: 25px;
            border: 0.5px solid;
            padding: 4px 12px;
            border-radius: 5px;
            color: #0000007b;
        }
        .nav-input{
            display: none;
        }
    }
    .nav-4{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        ol{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 7px;
        }
        a{
            padding: 12px;
            font-family: 'DM Sans', sans-serif;
            font-size: 16px;
            color: #000000b1;
            padding: 8px;
        }
    }


@media (max-width: 992px){
    .nav-1{
        display: flex;
        justify-content: center;
        height: 70px;
        .nav-2{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            height: 53px;
            .nav-titulo{
                width: 118px;
                h1{
                    color: #000000cb;
                    font-size: 36px;
                    font-family: 'Montserrat', sans-serif;
                }
            }
            .fa-solid{
                display: flex;
                cursor: pointer;
            }
            .nav-input:checked + .nav-4{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
            .nav-4{
                display: flex;
                position: absolute;
                flex-direction: column;
                background-color: $mainColor;
                width: 100%;
                z-index: 10;
                top: 60px;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                transition: clip-path 0.5s ease-in-out;
                ol{
                    display: block;
                    li{
                        padding: 8px;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px){
    .nav-1{
        display: flex;
        justify-content: center;
        .nav-2{
            display: flex;
            justify-content: space-between;
            width: 100%;
            .nav-titulo{
                width: 118px;
                h1{
                    color: #000000cb;
                    font-size: 30px;
                    font-family: 'Montserrat', sans-serif;
                    margin-bottom: 8px;
                }
            }
        }
    }
}