.registro-1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(220.55deg, #2e080e 0%, #000000 100%);
    color: $mainColor;
    .registro-2{
        display: flex;
        justify-content: center;
        border: 1px solid #00000098;
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.185);
        color: $mainColor;
        overflow: hidden;
        z-index: 1;
        .registro-3{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .registro-4{
                display: flex;
                flex-direction: column;
                font-size: 20px;
                width: 40%;
                height: auto;
            }
            .registro-5{
                display: flex;
                align-items: center;
                flex-direction: column;
                font-size: 20px;
                input{
                    display: flex;
                    flex-direction: column;
                    font-size: 17px;
                    padding: 5px;
                    margin: 5px;
                    border-radius: 20px;
                }
            }
        }
    }
}


@media (max-width: 992px){
    .registro-1{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: auto;
        .registro-2{
            display: flex;
            justify-content: center;
            width: 90%;
            height: 80%;
            border: 1px solid #00000098;
            border-radius: 12px;
            background-color: rgba(0, 0, 0, 0.185);
            color: $mainColor;
            padding: 40px 0px;
            margin: 40px 0px;
            .registro-3{
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: auto;
                .registro-4{
                    display: flex;
                    flex-direction: column;
                    font-size: 20px;
                    width: 80%;
                    height: auto;
                    padding: 40px 0px;
                }
                .registro-5{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 70%;
                    height: auto;
                    font-size: 20px;
                    input{
                        display: flex;
                        flex-direction: column;
                        font-size: 17px;
                        width: 100%;
                        padding: 5px;
                        margin: 5px;
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}